.recommendation-container {
    width: 70%;
    margin: 40px auto;
    text-align: center;
    border-radius: 10px;
    padding: 10px;
}

.title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    background-color: #623F3F;
    color: white;
    display: inline-block;
    padding: 10px 70px;
    border-radius: 30px;
}

.book-list {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    padding: 12px;
    margin: 0 auto;
}

.book-card {
    min-width: 200px;
    max-width: 200px;
    background: #fff;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    cursor: pointer;
    /*border: 1px solid #ccc;*/
}

.book-card a {
    text-decoration: none;
    color: inherit;
}

.book-thumbnail {
    width: 100%;
    height: 190px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    padding-left: 10px;
    padding-right: 10px;
}

.book-thumbnail img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    display: block;
}

.book-info {
    margin-top: 10px;
}

.book-title {
    font-size: 16px;
    font-weight: bold;
    white-space: nowrap;
    color: #623F3F;
    overflow: hidden;
    text-overflow: ellipsis;
}

.book-author {
    font-size: 14px;
    color: gray;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
