<!DOCTYPE html>
<html lang="ko"  data-bs-theme="auto" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/main}">
<head>
    <meta charset="UTF-8">
    <title>회원 관리 페이지</title>
    <th:block layout:fragment="extraHead">
        <link rel="stylesheet" href="/css/user/admin-user-manage.css">
        <script  type="module" src="/js/user/adminUserList.js" ></script>
    </th:block>
</head>
<body>
<main layout:fragment="content">
<h2 class="text-center mt-5">회원 관리 페이지</h2>

<div class="table-container mt-5">
    <table class="table text-center align-middle">
        <thead class="table-light">
        <tr>
            <th>이름</th>
            <th>이메일</th>
            <th>가입일</th>
            <th>잔여 패널티</th>
            <th>총 연체 일수</th>
            <th>권한 변경</th>
        </tr>
        </thead>
        <tbody class="user-list"></tbody>
    </table>
</div>

<nav>
    <ul class="pagination justify-content-center mt-4" id="pagination"></ul>
</nav>
</main>
</body>
</html>