<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>리뷰 목록</title>
    <link rel="stylesheet" href="/css/review/review.css">
    <script defer src="/js/review/review.js"></script>
</head>
<body class="body-submit">
<h2 id="pageTitle">리뷰 목록</h2>

<table class="review-table">
    <thead>
    <tr>
        <th>ID</th>
        <th>작성자</th>
        <th>도서</th>
        <th>내용</th>
        <th>작성일</th>
        <th>관리</th>
    </tr>
    </thead>
    <tbody id="reviewTable">
    <!-- JavaScript에서 데이터를 삽입 -->
    </tbody>
</table>

<br>
<a href="/review/new" class="btn-submit">리뷰 작성</a>
</body>
</html>
