<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>예약 내역 조회</title>
    <script src="/js/reservation/reservationList.js" defer></script>
</head>
<body>
<h2>예약 내역</h2>
<table>
    <thead>
    <tr>
        <th>예약 ID</th>
        <th>도서 제목</th>
        <th>저자</th>
        <th>상태</th>
        <th>예약 날짜</th>
        <th>만료 날짜</th>
        <th>취소</th>
    </tr>
    </thead>
    <tbody id="reservationList">

    </tbody>
</table>
</body>
</html>