<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>도서관 푸터</title>
</head>
<body>
<div th:fragment="footer">
    <footer class="footer">
        <div class="footer-container">
            <div class="footer-content">
                <span class="privacy-policy">개인정보처리 방침</span>
                <span>|</span>
                <a href="https://kdt-gitlab.elice.io/cloud_track/class_05/web_project3/team05/libdev" class="library-name">
                    <strong>엘리스도서관</strong>
                </a>
            </div>
            <div class="footer-copyright">
                Copyright 2025. Elice Library. All Rights Reserved.
            </div>
        </div>
    </footer>
</div>
</body>
</html>