<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>도서관 헤더</title>

</head>
<body>
<div th:fragment="header">
    <div class="top-bar">
        <a class="header-text" href="/users/login">로그인</a>
        <span>|</span>
        <a class="header-text" href="/users/join">회원가입</a>
    </div>

    <div class="header">
        <div class="logo">
            <a href="/home">
                <img src="/images/libDevLogo.png" alt="도서관 로고">
            </a>

        </div>
        <ul class="nav">
            <li>
                <a href="#">도서관안내</a>
                <ul class="header-dropdown">
                    <li><a href="/greetings">인사말</a></li>
                    <li><a href="/history">연혁</a></li>
                    <li><a href="/guide">이용안내</a></li>
                </ul>
            </li>
            <li>
                <a href="#">자료검색</a>
                <ul class="header-dropdown">
                    <li><a href="/books/search-simple">통합자료검색</a></li>
                    <li><a href="/books/search-topic">주제별검색</a></li>
                </ul>
            </li>
            <li>
                <a href="#">도서정보</a>
                <ul class="header-dropdown">
                    <li><a href="/recommendation/list">추천자료</a></li>
                    <li><a href="/recommendation/popular">인기자료</a></li>
                    <li><a href="/books/new-books">신착자료</a></li>
                    <li><a href="/review/list">한줄평</a></li>
                </ul>
            </li>
            <li>
                <a href="#">나만의도서관</a>
                <ul class="header-dropdown role-menu">
                    <li><a href="/users/mypage">기본정보</a></li>
                    <li><a href="#">도서이용현황</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>
</body>
</html>