<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>도서 상세 페이지</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/book/detail.css">
    <link rel="stylesheet" href="/css/review/recommendation.css">
    <script type="module" src="/js/book/detail.js"></script>
    <script src="/js/book/recommendation.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sockjs-client/dist/sockjs.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/stompjs/lib/stomp.min.js"></script>
    <script type="module" src="/js/notification/websocket.js" ></script>
    <script type="module" src="/js/borrow/borrowBook.js"></script>
</head>
<body>
<div class="container mt-4-1">
    <h1 class="text-center">도서 정보</h1>
    <div class="book-detail-box">
        <h3 class="book-detail-title" th:text="${book.title}">도서명</h3>
        <div class="book-detail-container">
            <div class="book-detail-thumbnail">
                <img id="bookThumbnail" alt="도서 표지" th:src="@{${book.thumbnail}}">
            </div>
            <div class="book-detail-info">
                <div class="info-item">
                    <span class="info-label">저자사항</span>
                    <span class="info-value" th:text="${book.author}"></span>
                </div>
                <div class="info-item">
                    <span class="info-label">출판사</span>
                    <span class="info-value" th:text="${book.publisher}"></span>
                </div>
                <div class="info-item">
                    <span class="info-label">발행일</span>
                    <span class="info-value" th:text="${book.publishedDate}"></span>
                </div>
                <div class="info-item">
                    <span class="info-label">표준번호</span>
                    <span class="info-value" th:text=" ${book.isbn}"></span>
                </div>
                <div class="info-item">
                    <span class="info-label">청구기호</span>
                    <span class="info-value" th:text="${book.callNumber}"></span>
                </div>
                <div class="info-item">
                    <span class="info-label">주제분류</span>
                    <span class="info-value">
                        <th:block th:switch="${book.topicId}">
                            <span th:case="0">총류</span>
                            <span th:case="1">철학</span>
                            <span th:case="2">종교</span>
                            <span th:case="3">사회과학</span>
                            <span th:case="4">자연과학</span>
                            <span th:case="5">기술과학</span>
                            <span th:case="6">예술</span>
                            <span th:case="7">언어</span>
                            <span th:case="8">문학</span>
                            <span th:case="9">역사</span>
                            <span th:case="*">기타</span>
                        </th:block>
                    </span>
                </div>
            </div>
        </div>
    </div>

    <div>
        <h5>도서 소개</h5>
        <span id="bookContents" th:text="${book.contents}"></span>
        <p class="fromKakao">[Kakao 제공]</p>
    </div>

    <div class="text-center btns mt-4">
        <button th:if="${book.isAvailable}" class="btn btn-custom-1 borrow-btn" th:data-book-id="${book.bookId}">대출하기</button>
        <button th:unless="${book.isAvailable}"
                class="btn btn-custom-1"
                th:data-book-id="${book.bookId}">
            예약하기
        </button>

        <button class="btn btn-custom-2 mx-2" th:onclick="|location.href='/review/book/${bookId}'|">한줄평</button>
        <button class="btn btn-secondary" th:onclick="|location.href='@{/books/search-simple}'|">목록으로</button>
    </div>

    <div class="mt-4">
        <h5>소장정보</h5>
        <table class="table table-bordered text-center">
            <thead class="table-light">
            <tr>
                <th>도서명</th>
                <th>표준번호</th>
                <th>청구기호</th>
                <th>대출상태</th>
                <th>반납예정일</th>
                <th>도서예약</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td th:text="${book.title}"></td>
                <td th:text="${book.isbn}"></td>
                <td th:text="${book.callNumber}"></td>
                <td class="text-center">
                    <span th:if="${book.isAvailable}">
                        대출가능<br>
                        [비치중]
                    </span>
                    <span th:unless="${book.isAvailable}">
                        대출불가<br>
                        [대출중]<br>
                        <!--(예약: <span th:text="${book.reservationCount}"></span>명)-->
                        (예약: 0명)
                    </span>
                </td>
                <!--<td th:text="${book.returnDueDate != null ? book.returnDueDate : '-'}"></td>-->
                <td th:text="'-'"></td>
                <td>
                    <button th:classappend="${book.isAvailable ? 'btn-secondary' : 'brown-btn'}"
                            class="btn text-white py-1 small-btn"
                            th:text="${book.isAvailable ? '예약불가' : '예약가능'}"
                            disabled>
                    </button>
                </td>

            </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="recommendation-container mt-5">
    <h2 class="title">추천 도서</h2>
    <div class="book-list">
        <!-- JavaScript에서 API 데이터로 채움 -->
    </div>
</div>
</body>
</html>
