<!DOCTYPE html>
<html lang="ko"  data-bs-theme="auto" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/main}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>도서 등록</title>
    <th:block layout:fragment="extraHead">
        <link rel="stylesheet" href="/css/book/register.css">
        <script type="module" src="/js/book/register.js"></script>
    </th:block>
</head>
<body>
<main layout:fragment="content">
    <div class="d-flex flex-column align-items-center">
    <h2 class="text-center">도서 등록</h2>

    <div class="d-flex justify-content-end w-100" style="max-width: 900px;">
        <button class="btn custom-btn mb-3" data-bs-toggle="modal" data-bs-target="#searchModal">도서 선택</button>
    </div>

    <div class="modal fade" id="searchModal" tabindex="-1" aria-labelledby="searchModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-custom">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="searchModalLabel">도서 검색</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="input-group mb-3">
                        <input type="text" id="searchQuery" class="form-control search-input" placeholder="도서명을 입력하세요">
                        <button id="searchButton" class="btn btn-outline-primary search-button">검색</button>
                    </div>
                    <div class="row row-cols-1 row-cols-md-4 g-4" id="searchResults"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="book-detail-container">
        <div class="book-thumbnail">
            <img id="bookThumbnail" alt="도서 표지" src="/images/bookImage.jpg">
        </div>
        <div class="book-info">
            <p><strong>도서명:</strong> <span id="bookTitle"></span></p>
            <p><strong>저자:</strong> <span id="bookAuthor"></span></p>
            <p><strong>출판사:</strong> <span id="bookPublisher"></span></p>
            <p><strong>발행일:</strong> <span id="bookPublishedDate"></span></p>
            <p><strong>ISBN:</strong> <span id="bookIsbn"></span></p>
            <p><strong>청구번호:</strong> <span id="bookCallNumber"></span></p>
            <p><strong>주제:</strong> <span id="bookTopicId"></span></p>
            <p><strong>도서 소개:</strong> <span id="bookContents"></span></p>
        </div>
    </div>

    <div class="d-flex justify-content-center mt-4 mb-4 gap-3">
        <button id="registerBtn" class="btn custom-btn-2">등록</button>
        <button id="cancelBtn" class="btn btn-secondary">취소</button>
    </div>
    </div>
</main>
</body>
</html>
