<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>주제 선택</title>
    <link rel="stylesheet" href="/css/book/searchTopic.css">
</head>
<body>
<h1>주제를 선택하세요</h1>
<div class="topics">
    <div class="row">
        <div class="topic">
            <a href="/books/search-topic/0">
                <div class="icon">[아이콘]</div>
                <p>총류</p>
            </a>
        </div>
        <div class="topic">
            <a href="/books/search-topic/1">
                <div class="icon">[아이콘]</div>
                <p>철학</p>
            </a>
        </div>
        <div class="topic">
            <a href="/books/search-topic/2">
                <div class="icon">[아이콘]</div>
                <p>종교</p>
            </a>
        </div>
        <div class="topic">
            <a href="/books/search-topic/3">
                <div class="icon">[아이콘]</div>
                <p>사회과학</p>
            </a>
        </div>
        <div class="topic">
            <a href="/books/search-topic/4">
                <div class="icon">[아이콘]</div>
                <p>자연과학</p>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="topic">
            <a href="/books/search-topic/5">
                <div class="icon">[아이콘]</div>
                <p>기술과학</p>
            </a>
        </div>
        <div class="topic">
            <a href="/books/search-topic/6">
                <div class="icon">[아이콘]</div>
                <p>예술</p>
            </a>
        </div>
        <div class="topic">
            <a href="/books/search-topic/7">
                <div class="icon">[아이콘]</div>
                <p>언어</p>
            </a>
        </div>
        <div class="topic">
            <a href="/books/search-topic/8">
                <div class="icon">[아이콘]</div>
                <p>문학</p>
            </a>
        </div>
        <div class="topic">
            <a href="/books/search-topic/9">
                <div class="icon">[아이콘]</div>
                <p>역사</p>
            </a>
        </div>
    </div>
</div>
</body>
</html>
