<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>도서 목록</title>
    <link rel="stylesheet" href="/book/css/searchSimple.css">
</head>
<body>
<h1 class="title">통합자료검색</h1>

<div class="search-container">
    <select id="search-type">
        <option value="전체">전체</option>
        <option value="제목">제목</option>
        <option value="저자">저자</option>
        <option value="출판사">출판사</option>
    </select>
    <input type="text" id="search-input" placeholder="검색어 입력">
    <button id="search-button">검색</button>
</div>

<p class="result-info">전체:<span id="search-result-count">0</span>건의 도서가 검색되었습니다.</p>

<table class="book-table">
    <thead>
    <tr>
        <th>표지</th>
        <th>도서명</th>
        <th>저자</th>
        <th>출판사</th>
        <th>발행연도</th>
        <th>ISBN</th>
        <th>대출 가능 여부</th>
    </tr>
    </thead>
    <tbody id="book-list"></tbody>
</table>

<script src="/book/js/searchSimple.js"></script>
</body>
</html>
