.table-container {
    width: 80%;
    margin: 0 auto;
}

.btn {
    border: none;
    color: white;
    background-color: #5B3A1E;
}

.btn:hover {
    border: none;
    color: white;
    background-color: #4F2D2D;
}

.pagination .page-item.active .page-link {
    background-color: #623F3F;
    border-color: #623F3F;
    color: white;
}

.pagination .page-link {
    color: #623F3F;
}

.pagination .page-link:hover {
    background-color: #f1e3e3;
}