.container{
    margin-top: 70px;
    margin-bottom: 70px;
}

.text-welcome {
    font-size: 20px;
    font-weight: bold;
}
.text-description {
    font-size: 14px;
    color: #555;
    margin-bottom: 20px;
}


.input-login {
    width: 100%;
    padding: 12px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.btn-login {
    width: 100%;
    background-color: #5b3d1b;
    color: white;
    border: none;
    padding: 12px;
    border-radius: 5px;
    cursor: pointer;
}

.btn-login:hover {
    color: white;
    background-color: #4a2e15;
}

.btn-group {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.btn-group-member {
    border: 1px solid #aaa;
    background-color: white;
    padding: 10px 15px;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
}

.secondary-button:hover {
    background-color: #f0f0f0;
}

/* 버튼 컨테이너 (한 줄 정렬) */
.social-btn-container {
    display: flex;
    justify-content: center; /* 가운데 정렬 */
    gap: 10px; /* 버튼 간격 */
}

/* 소셜 로그인 버튼 (네이버/구글) */
.social-btn {
    background: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
}

/* 버튼 내 이미지 스타일 */
.social-btn img {
    height: 40px; /* 로고 크기 조정 */
    width: auto;
}