.body-login{
    display: block;
    height: auto;
}

.container{
    margin-top: 200px;
}

.text-welcome {
    font-size: 20px;
    font-weight: bold;
}
.text-description {
    font-size: 14px;
    color: #555;
    margin-bottom: 20px;
}


.input-login {
    width: 100%;
    padding: 12px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.btn-login {
    width: 100%;
    background-color: #5b3d1b;
    color: white;
    border: none;
    padding: 12px;
    border-radius: 5px;
    cursor: pointer;
}

.btn-login:hover {
    background-color: #4a2e15;
}

.btn-group {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.btn-group-member {
    border: 1px solid #aaa;
    background-color: white;
    padding: 10px 15px;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
}

.secondary-button:hover {
    background-color: #f0f0f0;
}