.container {
    text-align: center;
}
.email-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-top: 10px;
}
.btn-submit {
    background-color: #5b3d1b;
    color: white;
    border: none;
    padding: 12px;
    margin-top: 15px;
    border-radius: 5px;
    cursor: pointer;
}

.btn-submit:hover {
    background-color: #4a2e15;
    color: white;
}

.input-email{
    width: 300px;
}

.form-content{
    max-width: 500px;
    width: 100%;
}
