.form-join {
    display: inline-block;
    text-align: left;
}

.form-group {
    margin-bottom: 10px;
}

.label-join {
    display: block;
    margin-bottom: 5px;
}

.input-join {
    width: 200px; padding: 5px;
}

.btn-submit {
    background-color: #623F3F;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}

.btn-submit:hover {
    background-color: #4F2D2D;
}

.error-message {
    color: red;
    font-size: 12px;
    margin-top: 5px;
}

.error-border {
    border: 2px solid red;
}