<!DOCTYPE html>
<html lang="ko" data-bs-theme="auto" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/main}">
<head>
    <meta charset="UTF-8">
    <title>대출 이력</title>
    <th:block layout:fragment="extraHead">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
        <link rel="stylesheet" href="/css/borrow/my-history.css">
        <link rel="stylesheet" href="/css/borrow/common.css">
        <script type="module" src="/js/borrow/myBorrowHistory.js"></script>
    </th:block>
</head>
<body>
<main layout:fragment="content">
    <h2 class="text-center mt-5">대출 이력</h2>

    <div class="borrow-list mt-5"></div>

    <nav>
        <ul class="pagination justify-content-center mt-4" id="pagination"></ul>
    </nav>

</main>
</body>
</html>