<!DOCTYPE html>
<html lang="ko" data-bs-theme="auto" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/main}">
<head>
    <meta charset="UTF-8">
    <title>대출 현황</title>
    <th:block layout:fragment="extraHead">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
        <link rel="stylesheet" href="/css/borrow/my-status.css">
        <script type="module" src="/js/borrow/myBorrowList.js"></script>
        <script type="module" src="/js/borrow/extendBorrow.js"></script>
        <script type="module" src="/js/borrow/requestReturn.js"></script>
    </th:block>
</head>
<body>
<main layout:fragment="content">
    <div class="info-container mt-5">
        <h2 class="text-center">대출 현황 / 연장</h2>
        <div class="info mt-4">
            <p class="info-content"><i class="bi bi-check"></i> 대출 도서는 1회에 한해 대출 기간을 7일 연장 가능합니다.</p>
            <p class="info-content"><i class="bi bi-check"></i> 다른 회원이 대출 예약한 도서는 연장이 제한됩니다.</p>
            <p class="info-content"><i class="bi bi-check"></i> 반납일이 경과했거나 연체된 다른 도서가 있는 경우 연장이 제한됩니다.</p>
            <p class="info-content"><i class="bi bi-check"></i> 반납 신청은 도서를 반납함에 반납 후 신청해주세요.</p>
        </div>
    </div>

    <div class="borrow-list mt-4 mb-5"></div>

</main>
</body>
</html>