<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>마이페이지</title>
    <link rel="stylesheet" href="/css/common/common.css">
    <link rel="stylesheet" href="/css/user/mypage.css">
    <script src="/js/user/info.js"></script>
</head>
<body>
<div class="container-mypage">
    <h2>회원정보</h2>

    <div class="profile-card">
        <div class="profile-info">
            <div>
                <strong>OOO님, 안녕하세요</strong>
            </div>
        </div>
        <button class="btn-edit">개인정보 수정</button>
    </div>

    <div class="profile-card" style="margin-top: 10px;">
        <div class="profile-info">
            <div class="profile-badge">정회원</div>
            <div class="personal-info">
                회원가입일: 2025-01-01<br>
                휴대폰 번호: 010-1234-1234<br>
                이메일 주소: example@ex.com
            </div>
        </div>
    </div>

    <div class="service-section">
        <h3>서비스 이용현황</h3>
        <div class="service-grid">
            <div class="service-box">대출중인 도서 <span class="count">1</span></div>
            <div class="service-box">연체중인 도서 <span class="count">0</span></div>
            <div class="service-box">반납완료 도서 <span class="count">1</span></div>
            <div class="service-box">예약중인 도서 <span class="count">1</span></div>
            <div class="service-box" style="grid-column: span 2;">내가 쓴 한줄평 <span class="count">2</span></div>
        </div>

    </div>
</div>
</body>
</html>