<!DOCTYPE html>
<html lang="ko"  data-bs-theme="auto" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/main}">
<head>
    <meta charset="UTF-8">
    <title>비밀번호 찾기</title>
    <th:block layout:fragment="extraHead">
        <link rel="stylesheet" href="/css/user/password-find.css">
        <script type="module" src="/js/user/resetPassword.js"></script>
    </th:block>
</head>
<body>
<main layout:fragment="content">
<div class="container py-5">
    <h2 class="mb-3">비밀번호 찾기</h2>
    <div class="col-md-12 form-group">
        <label for="password" class="form-label"> 새로운 비밀번호</label>
        <input type="password" id="password" name="password" class="form-control">
    </div>
    <div class="col-md-12 form-group">
        <label for="confirmPassword" class="form-label">새로운 비밀번호 확인</label>
        <input type="password" id="confirmPassword" name="confirmPassword" class="form-control">
    </div>
    <button id="resetSubmit" class="btn btn-submit">확인</button>
</div>
</main>
</body>
</html>