<!DOCTYPE html>
<html lang="ko"  data-bs-theme="auto" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/main}">
<head>
    <meta charset="UTF-8">
    <title>비밀번호 찾기</title>
    <th:block layout:fragment="extraHead"
        <link rel="stylesheet" href="/css/user/password-find.css">
        <script type="module" src="/js/user/codeVerify.js"></script>
    </th:block>
</head>
<body>
<main layout:fragment="content">
<div class="container py-5">
    <h2 class="mb-3">비밀번호 찾기</h2>
    <div class="email-container">
        <label for="code" class="me-2">인증번호</label>
        <input type="text" id="code" class="form-control input-email">
    </div>
    <p class="mt-2">발급된 임시번호를 입력해주세요.</p>
    <button id="codeSubmit" class="btn btn-submit">확인</button>
</div>
</main>
</body>
</html>