<!DOCTYPE html>
<html lang="ko"  data-bs-theme="auto" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/main}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>비밀번호 찾기</title>
    <th:block layout:fragment="extraHead">
        <link rel="stylesheet" href="/css/user/password-find.css">
        <script type="module" src="/js/user/submitEmail.js"></script>
    </th:block>
</head>
<body>
<main layout:fragment="content">
<div class="container py-5">
    <h2 class="mb-3">비밀번호 찾기</h2>
    <div class="email-container">
        <label for="email" class="me-2">이메일</label>
        <input type="text" id="email" class="form-control input-email">
    </div>
    <p class="mt-2">임시 번호 발급을 위한 가입 이메일을 입력해주세요</p>
    <button id="emailSubmit" class="btn btn-submit">비밀번호 찾기</button>
</div>
</main>
</body>
</html>
