body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

input, button {
    padding: 8px;
    margin: 5px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #f4f4f4;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.book-detail-container {
    display: flex;
    align-items: stretch;
    border: 1px solid #656565;
    padding: 40px;
    border-radius: 10px;
    max-width: 900px;
    width: 100%;
    background-color: #fff;
}
.book-thumbnail {
    flex: 1;
    display: flex;
    justify-content: center;
    padding-right: 20px;
}
.book-thumbnail img {
    max-width: 100%;
    border-radius: 5px;
}
.book-info {
    flex: 2;
}
.book-info h2 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}
.book-info p {
    margin: 5px 0;
}

.modal-custom {
    max-width: 80%;
}
