<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>접근이 거부되었습니다.</title>
  <link rel="stylesheet" href="/css/common/errorpage.css">
</head>
<body>
<div class="container">
  <h1 class="error-title">403 ERROR</h1>
  <p>죄송합니다. 해당 페이지에 접근할 수 없습니다.</p>
  <p>접근 권한이 없거나,</p>
  <p>요청하신 페이지의 접근이 제한되어 있습니다.</p>
  <img src="/images/errorpage.png" alt="403" class="error-image">
  <div class="button-container">
    <a href="[[${serverUrl}]]/home" class="home-button">홈으로</a>
  </div>
</div>
</body>
</html>
