.footer {
    background-color: #f8f9fa;
    padding: 10px 0;
    text-align: center;
    font-size: 14px;
    color: #333;
    width: 100vw;
}

.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.privacy-policy {
    color: brown;
    font-weight: bold;
    text-decoration: none;
}

.library-name {
    font-weight: bold;
}

.library-address {
    color: #555;
}