.top-bar {
    background-color: #623F3F;
    text-align: right;
    padding: 10px 30px;
    font-size: 14px;
    width: 100%;
    margin-right: 50px;
}

.header {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    justify-content: center;
    background-color: #ffffff;
    border-bottom: 2px solid #623F3F;
}

.title {
    font-size: 20px;
    font-weight: bold;
    margin-right: 30px;
}

.nav {
    display: flex;
    gap: 5px;
}

.header-text {
    text-decoration: none;
    color: white;
    font-size: 16px;
}

.nav > li {
    position: relative;
    list-style: none;
}

.nav > li > a {
    text-decoration: none;
    color: #623F3F;
    font-size: 23px;
    font-weight: bold;
    padding: 10px 20px;
    display: block;
}

.dropdown {
    display: none;
    position: absolute;
    background-color: #654321;
    min-width: 100%;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    padding: 0;
}

.dropdown li {
    list-style: none;
}

.dropdown a {
    color: white;
    padding: 10px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {
    background-color: #4F2F1D;
}

.nav > li:hover .dropdown {
    display: block;
}

.logo img {
    width: 220px;
    height: auto;
    margin-right: 20px;
}
