.table-container {
    width: 80%;
    margin: 0 auto;
}

.btn {
    border: none;
    color: white;
    background-color: #5B3A1E;
}

.btn:hover {
    background-color: #4F2D2D;
}

.reservation-manage {
    font-size: 24px;
    font-weight: bold;
    background-color: #623F3F;
    color: white;
    padding: 10px 70px;
    border-radius: 30px;
    display: block;
    width: fit-content;
    margin: 0 auto;
}