.info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info {
    border: 10px solid #f3f3f3;
    padding: 20px 40px;
    width: 70%;
}

.info-content {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}


/* 예약 리스트 전체 컨테이너 */
.reservation-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* 예약 개별 박스 */
.reservation-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    border-bottom: 1px solid black;
    padding: 10px;
}

/* 제목 + 예약 정보를 감싸는 컨테이너 (세로 정렬) */
.reservation-content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 75%;
}

/* 제목 스타일 */
.book-title {
    font-size: 1.2rem;
    font-weight: bold;
    text-align: left;
    margin-bottom: 5px;
}

/* 예약 정보 전체 컨테이너 */
.reservation-info-container {
    display: flex;
    justify-content: flex-start;
    gap: 1px; /* 컨테이너 간격 유지 */
    width: 100%;
}

/* 예약 정보 개별 컨테이너 */
.reservation-item {
    text-align: left;
    width: 31%; /* 고정 너비 */
}

/* 버튼 컨테이너 (우측 정렬) */
.buttons {
    display: flex;
    gap: 5px;
    justify-content: flex-end;
    width: 20%;
}

/* 버튼 스타일 */
.btn {
    border: none;
    color: white;
    background-color: #5B3A1E;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}

.btn:hover {
    background-color: #7A4E29;
}

.cancel-btn {
    background-color: #5B3A1E;
}

.cancel-btn:hover {
    background-color: #7A4E29;
}

.blank-message {
    font-size: 1.2rem;
    margin-top: 1.2rem;
}

.info-content {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.text-center {
    font-size: 24px;
    font-weight: bold;
    background-color: #623F3F;
    color: white;
    padding: 10px 70px;
    border-radius: 30px;
    display: block; /* block 요소로 만들어야 margin: auto 적용 가능 */
    width: fit-content; /* 내용 크기에 맞게 너비 조정 */
    margin: 0 auto; /* 가로 가운데 정렬 */
}

