/* 전체적인 페이지 스타일 */
body {
    font-family: 'Noto Sans KR', sans-serif;
}

.container {
    width: 70%;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 25px;
}

.title {
    font-size: 24px;
    font-weight: bold;
    background-color: #623F3F;
    color: white;
    padding: 10px 70px;
    border-radius: 30px;
    display: block;
    width: fit-content;
    margin: 0 auto;
}

h3 {
    font-size: 1.5rem;
    font-weight: bold;
    color: #623F3F;
    margin-bottom: 15px;
}

/* 문단 스타일 */
p {
    font-size: 1.1rem;
    color: #535353;
    line-height: 1.6;
}

/* 강조 문구 */
.highlight {
    color: #623F3F;
    font-weight: bold;
}

/* 섹션 간격 */
.section {
    margin-bottom: 40px;
}
